In [2]:
import pandas as pd
import matplotlib as plt

In [6]:
bot_tweets = pd.read_csv('./Tweet-Reader/botwiki-2019/bot_tweets.csv')

In [7]:
human_tweets = pd.read_csv('./Tweet-Reader/verified-2019/human_tweets.csv')

In [8]:
bot_tweets

,Unnamed: 0,User_ID,Account_Type,Tweet_ID,Text,Retweet_Count,Favorite_Count,Date
0,0,1120973992754581509,bot,1139116069816344576,Find back your voice!,0,0,2019-06-13 10:23:29+00:00
1,1,1120973992754581509,bot,1138934877351550976,"Your pet needs to be pet, RIGHT NOW!",0,1,2019-06-12 22:23:29+00:00
2,2,1120973992754581509,bot,1138753680994439168,"A man with six fingers killed your father, pre...",0,0,2019-06-12 10:23:29+00:00
3,3,1120973992754581509,bot,1138572488357621761,You father always told you about a giant fish ...,0,0,2019-06-11 22:23:29+00:00
4,4,1120973992754581509,bot,1138391293426655233,Your new friend wants to skip school!,0,0,2019-06-11 10:23:29+00:00
...,...,...,...,...,...,...,...,...
49481,49481,708394182595883008,bot,1502627285672685573,cab https://t.co/Bxa0b4pPXD,0,3,2022-03-12 12:47:17+00:00
49482,49482,708394182595883008,bot,1502264905985978374,dad https://t.co/bDyw1KMfKA,0,2,2022-03-11 12:47:18+00:00
49483,49483,708394182595883008,bot,1501902753001467905,cabbed https://t.co/KaGbc2q2j5,0,0,2022-03-10 12:48:14+00:00
49484,49484,708394182595883008,bot,1501540414150508545,ace https://t.co/IqvsY1TTDq,1,0,2022-03-09 12:48:26+00:00
49485,49485,708394182595883008,bot,1501179572942819332,decade https://t.co/lq0TGxcOdz,0,1,2022-03-08 12:54:35+00:00

In [9]:
human_tweets

,Unnamed: 0,User_ID,Account_Type,Tweet_ID,Text,Retweet_Count,Favorite_Count,Date
0,0,54619276,human,1537140410551787521,“What Graham Greene saw clearly was the Americ...,1,8,2022-06-15 18:30:07+00:00
1,1,54619276,human,1537118075367079939,"Capitalism may have ruined the biosphere, but ...",0,3,2022-06-15 17:01:22+00:00
2,2,54619276,human,1537110260707643393,The success of lawsuits brought against strip ...,0,2,2022-06-15 16:30:18+00:00
3,3,54619276,human,1537102450452312066,RT @jbwashing: I wrote about jazz genius Charl...,16,0,2022-06-15 15:59:16+00:00
4,4,54619276,human,1537100623765819394,We are now living with the legacy of a concert...,3,5,2022-06-15 15:52:01+00:00
...,...,...,...,...,...,...,...,...
192544,192544,436925910,human,1534168332940853248,RT @JillFilipovic: Disgusting and infuriating....,42,0,2022-06-07 13:40:08+00:00
192545,192545,436925910,human,1534152694662893568,"The new downtown: ""In Leesburg, midday custome...",3,13,2022-06-07 12:38:00+00:00
192546,192546,436925910,human,1534152184694185985,The persistence of remote work is devastating ...,28,65,2022-06-07 12:35:58+00:00
192547,192547,436925910,human,1534021937818742784,RT @MckeanCarrie: @AlecMacGillis @elisaslow It...,3,0,2022-06-07 03:58:25+00:00
192548,192548,436925910,human,1534001603916742657,"RT @ella_nilsen: Late to tweeting it, but this...",12,0,2022-06-07 02:37:37+00:00

In [14]:
total_chars = 0
for text in bot_tweets['Text']:
    total_chars += len(text)
print(total_chars / len(bot_tweets))

82.72745827102615

In [15]:
total_chars = 0
for text in human_tweets['Text']:
    total_chars += len(text)
print(total_chars / len(human_tweets))

132.17805337862052

In [25]:
bot_tweets['Date'][0]
curr_id = 0
tweet_count = 0
day_count = 0
frequency = pd.DataFrame(columns=['id', 'tweets/day'])
for tweet in bot_tweets.iterrow():
    if

IndentationError: expected an indented block (1600129222.py, line 4)

# Goals
Compare frequency of posts

Compare word clouds